@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap');


.container{
    margin-top: 30px;
    left: 0;
    right: 0;
    height: 80vh;
    position: fixed;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myForm{

    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.83) 35%, rgba(112, 212, 246, 0.83) 85%);
    width: 450px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}
.inputBox{
    width: 80%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button{
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.submitButton{
    width: 40%;
    height: 35px;
    border-radius: 20px;
    border:none;
    background-color: rgb(1, 1, 128);
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.submitButton:hover,.submitButton:active{
    background-color: rgb(255, 255, 255);
    color: darkblue;
    cursor: pointer;
}
.button a{
    color: darkblue;
}
h3{
    color: rgb(2, 2, 112);
    margin-top: 10px;
    font-weight: bold;
    font-size: 35px;
    font-family:'Montserrat', sans-serif;
}